* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient {
  height: 400px;
  background: linear-gradient(-45deg, red, green);
}

.advanced-gradient {
  height: 400px;
  background: rgb(36, 7, 0);
  background: -moz-linear-gradient(
    19deg,
    rgba(36, 7, 0, 1) 0%,
    rgba(121, 9, 115, 1) 46%,
    rgba(255, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    19deg,
    rgba(36, 7, 0, 1) 0%,
    rgba(121, 9, 115, 1) 46%,
    rgba(255, 0, 0, 1) 100%
  );
  background: linear-gradient(
    19deg,
    rgba(36, 7, 0, 1) 0%,
    rgba(121, 9, 115, 1) 46%,
    rgba(255, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#240700",endColorstr="#ff0000",GradientType=1);
}
