.aboutme {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8rem 0;

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;

    .card-left,
    .card-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 28.375rem;
      height: 30.975rem;
      padding: 5rem 4rem;
    }

    .card-left {
      img {
        height: 16.3125rem;
        width: 16.3125rem;
      }
    }

    .card-right {
      text-align: justify;
      gap: 32px;
      background-color: var(--primary-dark);
      border-radius: 1.25rem;
      color: var(--white);

      h6 {
        font-weight: 500;
      }
    }
  }
}